<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=".\core\static\css\customstyles.css">
    <link rel="stylesheet" href=".\core\static\css\styles.css">
</head>
<body>
    {% for invoice in invoices %}
        <div class="container-fluid mt5">
                        <!-- Content Wrapper. Contains page content -->
                        <div class="content-fluid mt-5">
                            <!-- Content Header (Page header) -->

                        
                            <section class="content">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                        
                                        
                                            <!-- Main content -->
                                            <div class="invoice p-3 mb-3">
                                                <!-- title row -->
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h4 class="text-center">Factura</h4>
                                                        <h4>
                                                            <i class="fas fa-globe"></i> Top Cauchos C.A
                                                            <small class="float-right">Fecha: {{invoice.invoice_date}}</small>
                                                        </h4>

                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- info row -->
                                                <div class="row invoice-info">
                                                    <div class="col-sm-4 invoice-col">
                                                        <strong>Empresa</strong>
                                                        <address>
                                                            Top Cauchos C.A<br>
                                                            Av. Romulo Gallegos, Miranda<br>
                                                            Caracas, VE <br>
                                                            Phone: +58 212-2838253<br>
                                                            Email: neumaticostop3000@gmail.com
                                                        </address>
                                                    </div>
                                                    <!-- /.col -->
                                                    <div class="col-sm-4 invoice-col">
                                                        <strong>Cliente</strong>
                                                        <address>
                                                            Nombre: {{invoice.client}}<br>
                                                            Coche: {{invoice.client_car}}<br>
                                                            Modelo: {{invoice.client_car_model}}<br>
                                                            Direccion: {{invoice.client_address}}<br>
                                                            Telefono: {{invoice.client_phone}}<br>
                                                            Email: {{invoice.client_email}}
                                                        </address>
                                                    </div>
                                                    <!-- /.col -->
                                                    <div class="col-sm-4 invoice-col">
                                                        <b>Factura {{invoice.invoice_number}}</b><br>
                                                        <br>
                                                        <b>Fecha Expiracion:</b> {{invoice.invoice_due_date}}<br>

                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.row -->
                                            
                                                <!-- Table row -->
                                                <div class="row">
                                                    <div class="col-12 table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th><label for="line_one_quantity">Cantidad</label></th>
                                                                    <th><label for="line_one">Producto</label></th>
                                                                    <th><label for="line_one_unit_price">Precio Unidad</label></th>
                                                                    <th><label for="line_one_total_price">Total</label></th>


                                                                </tr>
                                                            </thead>
                                                            <tbody id="lineas-producto">
                                                                <tr class="lineas-producto">
                                                                    {% if invoice.line_one_quantity is 0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_one_quantity}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_one is None %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_one}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_one_unit_price == 0.0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_one_unit_price}} $</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_one_total_price == 0.0 %}
                                                                    {% else %}
                                                                        <td><span class="line_amount">{{ invoice.line_one_total_price }}</span> $</td>
                                                                    {% endif %}
                                                                </tr>
                                                                <tr class="linea-producto">
                                                                    {% if invoice.line_two_quantity is 0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_two_quantity}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_two is None%}
                                                                    {% else %}
                                                                        <td>{{invoice.line_two}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_two_unit_price == 0.0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_two_unit_price}} $</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_two_total_price == 0.0 %}
                                                                    {% else %}
                                                                        <td><span class="line_amount">{{ invoice.line_two_total_price }}</span> $</td>
                                                                    {% endif %}
                                                                </tr>
                                                                <tr class="linea-producto">
                                                                    {% if invoice.line_three_quantity is 0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_three_quantity}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_three is None %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_three}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_three_unit_price == 0.0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_three_unit_price}} $</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_three_total_price == 0.0 %}
                                                                    {% else %}
                                                                        <td><span class="line_amount">{{ invoice.line_three_total_price }}</span> $</td>
                                                                    {% endif %}
                                                                </tr>
                                                                <tr class="linea-producto">
                                                                    {% if invoice.line_four_quantity is 0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_four_quantity}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_four is None %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_four}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_four_unit_price == 0.0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_four_unit_price}} $</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_four_total_price == 0.0 %}
                                                                    {% else %}
                                                                        <td><span class="line_amount">{{ invoice.line_four_total_price }}</span> $</td>
                                                                    {% endif %}
                                                                </tr>
                                                                <tr class="linea-producto">
                                                                    {% if invoice.line_five_quantity is 0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_five_quantity}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_five is None %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_five}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_five_unit_price == 0.0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_five_unit_price}} $</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_five_total_price == 0.0 %}
                                                                    {% else %}
                                                                        <td><span class="line_amount">{{ invoice.line_five_total_price }}</span> $</td>
                                                                    {% endif %}
                                                                </tr>
                                                                <tr class="linea-producto">
                                                                    {% if invoice.line_six_quantity is 0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_six_quantity}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_six is None %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_six}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_six_unit_price == 0.0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_six_unit_price}} $</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_six_total_price == 0.0 %}
                                                                    {% else %}
                                                                        <td><span class="line_amount">{{ invoice.line_six_total_price }}</span> $</td>
                                                                    {% endif %}
                                                                </tr>
                                                                <tr class="linea-producto">
                                                                    {% if invoice.line_seven_quantity is 0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_seven_quantity}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_seven is None %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_seven}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_seven_unit_price == 0.0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_seven_unit_price}} $</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_seven_total_price == 0.0 %}
                                                                    {% else %}
                                                                        <td><span class="line_amount">{{ invoice.line_seven_total_price }}</span> $</td>
                                                                    {% endif %}
                                                                </tr>
                                                                <tr class="linea-producto">
                                                                    {% if invoice.line_eight_quantity is 0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_eight_quantity}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_eight is None %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_eight}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_eight_unit_price == 0.0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_eight_unit_price}} $</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_eight_total_price == 0.0 %}
                                                                    {% else %}
                                                                        <td><span class="line_amount">{{ invoice.line_eight_total_price }}</span> $</td>
                                                                    {% endif %}
                                                                </tr>
                                                                <tr class="linea-producto">
                                                                    {% if invoice.line_nine_quantity is 0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_nine_quantity}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_nine is None %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_nine}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_nine_unit_price == 0.0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_nine_unit_price}} $</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_nine_total_price == 0.0 %}
                                                                    {% else %}
                                                                        <td><span class="line_amount">{{ invoice.line_nine_total_price }}</span> $</td>
                                                                    {% endif %}
                                                                </tr>
                                                                <tr class="linea-producto">
                                                                    {% if invoice.line_ten_quantity is 0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_ten_quantity}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_ten is None %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_ten}}</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_ten_unit_price == 0.0 %}
                                                                    {% else %}
                                                                        <td>{{invoice.line_ten_unit_price}} $</td>
                                                                    {% endif %}
                                                                    {% if invoice.line_ten_total_price == 0.0 %}
                                                                    {% else %}
                                                                        <td><span class="line_amount">{{ invoice.line_ten_total_price }}</span> $</td>
                                                                    {% endif %}
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.row -->
                                            
                                                <div class="row">
                                                    <!-- accepted payments column -->
                                                    <div class="col-6">
                                                        <p class="text-muted well well-sm shadow-none"
                                                            style="margin-top: 10px;">
                                                            <strong>Por favor, conserve esta factura hasta que su vehiculo sea retirado de nuestras instalaciones, no sera posible retirar el vehiculo si no se presenta dicha factura.</strong>
                                                        </p>
                                                    </div>
                                                    <!-- /.col -->
                                                    <div class="col-6">
                                                        <p class="lead"></p>
                                                    
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <tr>
                                                                    <th style="width:50%"><label for="subtotal">Subtotal:</label></th>
                                                                    <td>{{invoice.subtotal}} $</td>
                                                                </tr>
                                                                <tr>
                                                                    <th><label for="vat">VAT</label></th>
                                                                    <td>{{invoice.vat}} %</td>
                                                                </tr>
                                                                <tr>
                                                                    <th><label for="discount">Descuento:</label></th>
                                                                    <td>{{invoice.discount}} %</td>
                                                                </tr>
                                                                <tr>
                                                                    <th><label for="total">Total:</label></th>
                                                                    <td>{{invoice.total}} $</td>
                                                                </tr>
                                                                <tr>
                                                                    <th><label for="total">Pagada:</label></th>
                                                                    {% if invoice.paid == False %}
                                                                    <td>No</td>
                                                                    {% else %}
                                                                    <td>Si</td>
                                                                    {% endif %}
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.row -->
                                            
                                                <!-- this row will not appear when printing -->
                                                <div class="row no-print">
                                                </div>
                                            </div>
                                            <!-- /.invoice -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- /.container-fluid -->
                            </section>
                            <!-- /.content -->
                        </div>
                    
                        <!-- Control Sidebar -->
                        <aside class="control-sidebar control-sidebar-dark">
                            <!-- Control sidebar content goes here -->
                        </aside>
                        <!-- /.control-sidebar -->
                    </div>
                    <!-- ./wrapper -->
        </div>
        {% endfor %}
</body>

<style>
    body {
        font-family: Arial, sans-serif;
    }
    
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .datos-empresa,
    .datos-cliente,
    .datos-factura,
    .resumen,
    .total-factura {
        margin-bottom: 20px;
    }
    
    h2 {
        border-bottom: 2px solid #333;
        padding-bottom: 5px;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    table th,
    table td {
        border: 1px solid #333;
        padding: 8px;
        text-align: center;
    }
    
    #agregar-producto {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
    
    #agregar-producto:hover {
        background-color: #555;
    }
</style>
<script>
    window.addEventListener("load", window.print());
</script>
</html>
